
<main class="form-register">
  <h1><%= title %></h1>

  <!-- Flash messages -->
<% if (notice && notice.length > 0) { %>
  <div class="flash" id="flashRegister">
    <% notice.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

  <form action="/account/register" method="POST" class="register-form">
    
    <label for="account_firstname">First Name</label>
    <input
      type="text"
      id="account_firstname"
      name="account_firstname"
      required
      value="<%= locals.account_firstname %>"
    >

    <label for="account_lastname">Last Name</label>
    <input
      type="text"
      id="account_lastname"
      name="account_lastname"
      required
      value="<%= locals.account_lastname %>"
    >

    <label for="account_email">Email</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      required
      value="<%= locals.account_email %>"
    >

    <label for="account_password">Password</label>
    <div class="password-wrapper">
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
        minlength="12"
        <%#pattern="^(?=.*[A-Z])(?=.*\\d)(?=.*[^A-Za-z0-9]).{12,}$"  %>
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        title="Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character"
      >
      <button type="button" id="togglePassword">Show</button>
    </div>

    <button type="submit" class="submit-register">Create Account</button>
  </form>
</main>

<script>
    const toggleBtn = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("account_password");

    toggleBtn.addEventListener("click", () => {
      const type = passwordInput.type === "password" ? "text" : "password";
      passwordInput.type = type;
      toggleBtn.textContent = type === "password" ? "Show" : "Hide";
    });
  </script>