<main class="form-container">
  <h1><%= title %></h1>

  <% if (notice && notice.length) { %>
    <div class="flash"><% notice.forEach(m => { %><p><%= m %></p><% }) %></div>
  <% } %>

  <% if (errors && errors.length) { %>
    <ul class="errors"><% errors.forEach(e=>{ %><li><%= e.msg %></li><% }) %></ul>
  <% } %>

  <form action="/inv/add-inventory" method="POST" id="inventoryClassificationForm">
    <label>Classification</label>
    <%- classificationList %> 

     <label for="inv_make">Make</label>
    <input type="text" name="inv_make" id="inv_make" required
           value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>">

    <label for="inv_model">Model</label>
    <input type="text" name="inv_model" id="inv_model" required
           value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>">

    <label for="inv_year">Year</label>
    <input type="number" name="inv_year" id="inv_year" required min="1900" max="2099"
           value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>">

    <label for="inv_description">Description</label>
    <textarea name="inv_description" id="inv_description" required><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>

    <label for="inv_image">Image Path</label>
    <input type="text" name="inv_image" id="inv_image" required
           value="<%= typeof inv_image !== 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>">

    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" required
           value="<%= typeof inv_thumbnail !== 'undefined' ? inv_thumbnail : '/images/vehicles/no-image.png' %>">

    <label for="inv_price">Price</label>
    <input type="number" name="inv_price" id="inv_price" required min="0"
           value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>">

    <label for="inv_miles">Miles</label>
    <input type="number" name="inv_miles" id="inv_miles" required min="0"
           value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>">

    <label for="inv_color">Color</label>
    <input type="text" name="inv_color" id="inv_color" required
           value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>">

   
    
    <button type="submit">Add Vehicle</button>
  </form>
</main>